stage=0
segment_size=128
data_dir=/mnt/d/workspace/DLHLP2020SPRING/HW2-1/data/raw_data_dir/LibriTTS-Corpus/LibriTTS/sr_24000_mel_norm/
raw_data_dir=/mnt/d/workspace/DLHLP2020SPRING/HW2-1/data/raw_data_dir/LibriTTS-Corpus/LibriTTS/
test_prop=0.05
training_samples=10000000
testing_samples=10000
n_utts_attr=5000
train_set=train-clean-100
test_set=dev-clean